.Header {
  margin-bottom: 100px;
  padding: 15px 0;
  background-color: var(--white);
  box-shadow: 0px 10px 63px 0px rgba(0, 0, 0, 0.07);
  height: 70px;
}

.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoContainer {
  display: flex;
  align-items: center;
}

.LogoText {
  margin-left: 9px;
  margin-top: -1px;
  color: var(--red);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.HeaderButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2px;
  width: 110px;
  color: var(--red);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.LogoWrapper {
  margin-right: 5px;
}

.HeaderButtonIcon {
  fill: var(--red);
  margin-top: -4px;
  margin-left: -4px;
}

.HeaderButton:hover,
.HeaderButton:focus,
.HeaderButton:active {
  color: var(--redB7);
}

.HeaderButton:hover .HeaderButtonIcon, .HeaderButton:focus .HeaderButtonIcon, .HeaderButton:active .HeaderButtonIcon {
  fill: var(--redB7);
}
